.character__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.character {
	margin: 20px 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 10px;
}

.character__image {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}